body {
    margin: 0;
    padding: 0;
    background-color: #E9E1CA;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 150px;
    margin-bottom: 40px;
}

.menu-button {
    display: inline-block; 
    text-decoration: none; 
    background-color: #7b1e1e;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.menu-button:hover {
    background-color: #5e1515;
}


.rodape {
    background-color: #7b1e1e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 30px;
    font-weight: bold;
}
